* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body {
    background-color: #f6f6f6;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.tabs__block {
    padding: 100px 500px;
   
}
.title h2 {
    font-size: 40px;
    color: #244471;
    padding-bottom: 40px;
    
    text-transform: uppercase;
}

.tabs {
    position: relative;
    
}

.tabs__btns {
    display: flex;
    gap: 1px;
}


.tab__btn {
    cursor: pointer;
    background-color: rgb(37, 28, 83);
    padding: 10px;
    width: 180px;
    text-align: center;
    height: 60px;
    transform: translateY(15px);
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
}

.tab__btn.active {
    background-color: #7287ae;
    height: 60px;
    transition: .3s ease-in;
    font-size: 22px;
    border-radius: 20px 20px 0 0;
}


.tab__text {
    position: absolute;
    top: 100%;
    padding: 15px 20px;
    background-color: #7287ae;
    max-width: 700px;
    visibility: hidden;
    border-radius: 0 10px 10px 10px;
}

.tab__text img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.tab__text.active {
    visibility: visible;
}

.tab__text h2 {
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.tab__text p {
    color: #ffffff;
    font-size: 18px;
}

